<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="mikedemoreact"
            android:host="smartech_sdk_td" />
        </intent-filter>
      </activity>
      <meta-data
            android:name="SMT_APP_ID"
            android:value="7634529964c187363b30c2dd265e5f54" />

      <meta-data
            android:name="HANSEL_APP_ID"
            android:value="OEY5T4UZU4N1T02VFNZDX7Q1I" />

        <meta-data
            android:name="HANSEL_APP_KEY"
            android:value="4SEOH5YFZI9JOTTXNHCT0NGJDBTWMDHWP0DNDGRT1VF9HYB6JL" />
    </application>
</manifest>
